@{
    ViewData["Title"] = "About";
    Layout = "_MainLayout";
}

@await Component.InvokeAsync("ClassifiesMenuBar")
<div class="main-content">
    <ul style="list-style:none;">
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>

        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
        <li>计算机</li>
    </ul>
</div>


