@{
    ViewData["Title"] = "就业网";
}
<div>
    @Html.Partial("_Carousel")

    @await Component.InvokeAsync("BriefingContent")

    @await Component.InvokeAsync("Recruit")

    @await Component.InvokeAsync("Article")

</div>