@{
    ViewData["Title"] = "首页";
}
<div>
    @Html.Partial("_Carousel")
    <div id="briefing">
        @await Component.InvokeAsync("BriefingContent")
    </div>
    <div id="recruit">
        @await Component.InvokeAsync("Recruit")
    </div>
    <div id="article">
        @await Component.InvokeAsync("Article")
    </div>
</div>