body {
}

#title {
    width: 990px;
}

.content-box {
    margin-top: 20px;
}

.sub-button {
    width: 1000px;
    overflow:hidden;
}

.commitbutton {
    float: right;
    margin-top: 5px;
    height: 27px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    width: 100px;
}

#contentbox {
    width: 1000px;
}
.sub-text{
    margin-left:20px;
    margin-top:10px;
    width:300px;
}