body {
}
.area-drop {
    position: fixed;
    top: 52px;
    z-index: 99999;
    left: 175px;
    background-color: black;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    width: 250px;
    color: white;
}
.area-drop-ul {
    list-style: none;
    padding-left: 2px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.area-drop-ul-a {
    padding: 2px 5px;
    color: white;
}

.area-drop-ul > li > a:hover {
color:white;
text-decoration:none;
}

#contentbody>tr>td>a:hover{
    text-decoration:none;
}
