@model QhTemplate.AdminWeb.ViewModels.Account.AccountViewModel

<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>管理登录</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/Account/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <section id="content">
            <form>
                <h1>登陆</h1>
                <div>
                    <input type="text" placeholder="Username" required="" id="username" autocomplete="off" />
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" />
                </div>
                <div>
                    <input type="text" placeholder="验证码" required="" id="validatecode" style="width: 200px;" autocomplete="off" />
                    <img id="imgVerify" src="/Account/ValidateCode" alt="看不清？点击更换" onclick="this.src = this.src + '?'" />
                </div>
                <div>
                    <input type="button" value="Log in" onclick="SignIn()"/>
                </div>

            </form>

        </section>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        function SignIn() {
            var userName = $("#username").val();
            var password = $("#password").val();
            var validatecode = $("#validatecode").val();
            $.ajax({

                url: "/Account/SignIn",
                type: "post",
                data: {
                    username: userName,
                    ValidateCode: validatecode,
                    password: password

                }, success: function (data) {
                    if (data === "ok")
                        location.href = "/home/index";
                    else {
                        alert(data);
                    }
                }
            })

        }
    </script>

</body>
</html>