@model QhTemplate.FontWeb.Models.UserInfo.UserInfo
<div id="showinfo" class="userinfobox">
    <div class="user-info-left widthbox">
        <div>用户名：@Model.UserName</div>
        <div>姓名：@Model.Name</div>
    </div>
    <div class="user-info-right widthbox">
        <div>邮箱：@Model.Email</div>
        <div>学校：@Model.School</div>
    </div>
</div>