@model QhTemplate.AdminWeb.ViewModels.Organizations.OrganizationRemoveUserViewModel


<div class="modal fade" id="my-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">移除人员</h4>
            </div>
            <div class="modal-body">
                <h4>您确定要将<span class="title-highlight">@Model.UserName</span>从<span class="title-highlight">@Model.OrgName</span>部门移除吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
                <button type="button" class="btn btn-danger" id="submit">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $("#my-modal").modal('show');
</script>
