@model QhTemplate.AdminWeb.ViewModels.Organizations.OrganizationRenameViewModel


<div class="modal fade" id="my-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改部门名称</h4>
            </div>
            <div class="modal-body">
                <lable><h4>即将修改<span class="title-highlight">@Model.Name</span>部门名称，请输入新名称：</h4></lable>
                <input autofocus class="form-control input-text" id="text" value="@Model.Name" maxlength="15" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
                <button type="button" class="btn btn-primary" id="submit" disabled>确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var name = $("#text").val();
    $("#my-modal").modal('show');
    $("#text").bind('input propertychange',function () {
        var text = $("#text").val();
        if (text === "" || text === name) {
            $("#submit").attr("disabled", true)
        } else {
            $("#submit").attr("disabled", false)
        }
    })
</script>