@model QhTemplate.AdminWeb.ViewModels.Recruitments.EditRecruitment
@{
    Layout = "_Layout";
    ViewBag.Title = "新增";
}

@section Styles{
    <link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet"/>
    <link href="~/lib/ueditor/themes/default/css/ueditor.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Article/Create.css" rel="stylesheet" type="text/css"/>
}

<section class="content-header">
    <h1>
        新增招聘信息
        <small> @ViewData["Title"]</small>

    </h1>
</section>
<section class="content">
    <form>.
        <input type="hidden" name="Id" id="reid" value="@Model.Id"/>
        <div>
            <label>标题</label>
            <div>
                <input type="text" name="title" id="title" value="@Model.Title"/>
            </div>
        </div>
        <div class="content-box">
            <label>内容</label>
            <div>
                @Html.TextAreaFor(m => m.Content, new { @id = "contentbox" })
            </div>
        </div>
        <div style="display: flex; justify-content: flex-start; margin-top: 10px;">
            <div>
                <label>专业类型</label>
                <div id="major" style="width: 990px; display: flex; justify-content: start;">
                </div>
            </div>
        </div>
        <div style="overflow: hidden;" class="sub-button">
            <button type="button" class="btn btn-default commitbutton" onclick="createArticle()">保存</button>
        </div>
    </form>
</section>
<script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="~/js/Article/create.js"></script>
<script>
    
</script>
