@model IEnumerable<QhTemplate.FontWeb.Models.ResumeInfo.ResumeViewModel>

@foreach (var item in Model)
{
    <div style="display:flex;justify-content:space-between;padding:10px 30px;cursor:default;">
        <div style="width:200px;">@item.Name</div>
        <div style="width:200px;">@item.Time</div>
        <div style="width:200px;display:flex;">
            @if (item.IsDefault)
            {
                
                <button style="display:block;min-width:82px;" class="btn btn-default">默认</button>
            }
            else
            {
                <button style="display:block;width:82px;" class="btn btn-default" onclick="SetDefault(@item.Id)" >设为默认</button>

            }
            <a href="/FileDownload/DownloadFile/@item.Id" target="_blank"  class="btn btn-default">预览/下载</a>
            <button class="btn btn-default" style="margin-left:10px;"  href="javaScript:void(0)" onclick="Delete(@item.Id)">删除</button>
        </div>
    </div>
}


