@model IEnumerable<QhTemplate.FontWeb.Models.Recruitments.RecruitmentModel>
@foreach (var item in Model)
{
    <tr>
        <td><a href="/Recruitment/detail/@item.CompanyId" style="display:block;width:100%;color:#4a90e6;" target="_blank">@item.CompanyName</a></td>
        <td><a href="/Recruitment/detail/@item.CompanyId" style="display:block;width:100%" target="_blank"> @item.JobName </a></td>
        <td>@item.Email</td>

    </tr>

}