
@{
    ViewData["Title"] = "Index";
    Layout = "_MainLayout";
}
@await Component.InvokeAsync("ClassifiesMenuBar", new { type = 1, areaId = 8 })
<div class="main-content">


    <h2>Index</h2>
</div>

