@model IEnumerable<QhTemplate.FontWeb.Models.BriefingContents.BriefingContentList>



@foreach (var item in Model)
{
    <tr class="bodytr">
        <td class="bodytr-td" width="50%"><a href="/BriefingContent/detail/@item.Id" style="display:block;width:100%;color:#4a90e6;" target="_blank">@item.Company</a></td>
        <td class="bodytr-td" width="15%">@item.StartTime</td>
        <td class="bodytr-td" width="20%">@item.Held</td>
        <td class="bodytr-td" width="15%">@item.PublishTime</td>
    </tr>
}