@model QhTemplate.FontWeb.Models.MenuBar.MenuBarViewModel

<div class="menu-box">
    <div class="left-menu-bar">
        <div class="head-box">
            @if (string.IsNullOrEmpty(Model.UserName))
            {
                <div class="login-box">
                    <a class="btn btn-info user-button  " href="javaScript:void(0)" onclick="openLogin()">登录</a>
                    <a class="btn btn-default user-button " href="/Account/Signup">注册</a>
                </div>

            }
            else
            {
                <div class="header-box">
                    <img src="~/images/user-face-male.png" class="header-box-image" />
                    <span class="header-box-name">hi,@Model.UserName</span>
                </div>

            }

                <ul class="header-menu-ul ">
                    @if (Model.MenuType == 1)
                    {
                        <li class="header-menu-ul-li"><a href="/BriefingContent/index/@Model.AreaId"> • 全部</a></li>
                        foreach (var item in Model.MenuBar)
                        {
                            <li class="header-menu-ul-li"><a href="/BriefingContent/index/@Model.AreaId/@item.Id"> • @item.Name</a></li>
                        }
                    }
                    else if (Model.MenuType == 2)
                    {
                        <li class="header-menu-ul-li"><a href="/Recruitment/index/0"> • 全部</a></li>
                        foreach (var item in Model.MenuBar)
                        {
                            <li class="header-menu-ul-li"><a href="/Recruitment/index/@item.Id"> • @item.Name</a></li>
                        }
                    }
                    else if (Model.MenuType == 3)
                    {
                        <li class="header-menu-ul-li"><a href="/Userinfo/index"> • 我的简历</a></li>
                        <li class="header-menu-ul-li"><a href="/ResumeInfo/index"> • 我的投递</a></li>
                        <li class="header-menu-ul-li"><a href="/NoticesBriefing/index"> • 我的提醒</a></li>
                        <li class="header-menu-ul-li"><a href="/Article/SchoolArticle"> • 校内新闻</a></li>

                    }
                </ul>
        </div>
    </div>
</div>