@model QhTemplate.FontWeb.Models.MenuBar.MenuBarViewModel

<div class="menu-box">
    <div class="left-menu-bar">
        <div class="head-box">
            @*<div class="login-box">
                    <a class="btn btn-info user-button  ">登录</a>
                    <a class="btn btn-default user-button ">注册</a>
                </div>*@
            <div class="header-box">
                <img src="~/images/user-face-male.png" class="header-box-image" />
                <span class="header-box-name">hi,kobold</span>
            </div>
            <ul class="header-menu-ul ">
                @foreach (var item in Model.MenuBar)
                {
                    <li class="header-menu-ul-li"><a href="/BriefingContent/index/@Model.AreaId/@item.Id"> • @item.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>