@model QhTemplate.AdminWeb.ViewModels.Resumes.ResumeViewModel


<div id="modal">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">删除简历</h4>
                    </div>
                    <div class="modal-body">
                        您确定要删除这份简历么<i style="color:red">@(Model.FileName)</i>吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="deleteResume('@Model.Id')">确定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/RecruitMent/delete.js"></script>
