@{
    ViewBag.Title = "首页";
    Layout = "_Layout";
}

@section Styles{
    <link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link href="~/css/Role/RoleEdit.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        角色
        <small> @ViewData["Title"]</small>
        <button class="btn btn-primary" style="float:right" id="openCreateModal">添加</button>
    </h1>
</section>
<section class="content">
    <table id="dataTable" class="table table-striped table-bordered"></table>
</section>
@Html.Partial("_Create")
<div id="model"></div>
@section Scripts{
    <script src="~/lib/datatables/js/datatables-fnReloadAjax.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script src="~/js/Role/index.js"></script>
    <script src="~/js/Role/create.js"></script>
}
