@model QhTemplate.AdminWeb.ViewModels.School.SchoolViewModel
<div id="modal">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">删除学校信息</h4>
                    </div>
                    <div class="modal-body">
                        您确定要删除<i style="color:red">@(Model.Name)</i>吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="deleteSchool('@Model.Id')">确定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/js/School/deletejs.js"></script>