@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<script>
    function doUpload() {

        var formData = new FormData($("#uploadForm")[0]);

        $.ajax({
            url: '@Url.Action("FileSave")',

            type: 'POST',

            data: {
                companyId:"",
                formData
            },

            async: false,

            cache: false,

            contentType: false,

            processData: false,

            success: function(returndata) {

                alert(returndata);

            },

            error: function(returndata) {

                alert(returndata);

            }

        });

    }
</script>