body {
}

.left-tree {
    width: 300px;
    overflow-y: inherit;
}

.left-tree, .user-data {
    background-color: white;
    padding: 20px;
}

.search-input {
    padding: 0;
}

.add-root {
    padding-right: 0;
}

.head-option {
    height: 45px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.user-data {
    margin-left: 50px;
    flex-grow: 1;
}

.table-title {
    font-size: 24px;
}

#schoolArea-table {
    width: 100% !important;
}

.schoolArea-content {
    display: flex;
    justify-content: flex-start;
}

.school-table {
    width: 100% !important;
}

#add-member {
    float: right;
    width: 155px;
}
