@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>登录</title>
    <link href="css/CompanyAccount/common.css"/>
    <script src="lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="logo_box">
    <h3>注册</h3>
    <form method="post">
        <div class="input_outer">
            <span class="lableimage_box company" ></span>
            <input name="logname" class="text" placeholder="公司名" style="color: #FFFFFF !important" type="text">
        </div>
        <div class="input_outer">
            <span class="lableimage_box email" ></span>
            <input name="logname" class="email" placeholder="邮箱" style="color: #FFFFFF !important" type="text">
        </div>
        <div class="input_outer">
            <span class="lableimage_box phone" ></span>
            <input name="logname" class="phone" placeholder="联系电话" style="color: #FFFFFF !important" type="text">
        </div>
        <div class="input_outer">
            <span class="u_user lableimage_box"></span>
            <input name="logname" class="text" placeholder="用户名" style="color: #FFFFFF !important" type="text">
        </div>
        <div class="input_outer">
            <span class="us_uer lableimage_box"></span>
            <input name="logpass" class="text"  placeholder="请输入密码"  type="password" class="login_password" >
        </div>
        <div class="mb2">
            <a class="act-but submit" href="javascript:;" style="color: #FFFFFF">注册</a>
        </div>
    </form>

    <div class="sas">
        <a href="">登录</a>
        <a href="">返回首页</a>
    </div>

</div>

</body>
</html>