body {
    background-color: #333333;
}

.navbar-default .mylogo {
    color: white;
}
.navbar-default .mylogo {
    color: white;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
}
.navbar-default .logo > a:hover {
    color: white;
}
.mynavbar {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-radius: 0;
    background-color: #3388ff;
    border-color: #1275ff;
}
.mymenu > li > a {
    color: white;
    font-weight: bold;
}
.left-menu-bar {
    display: flex;
    height: 690px;
    position: fixed;
    top: 52px;
}

.main-content {
    margin-top: 52px;
    margin-left: 250px;
    min-height: 635px;
    background-color: #F0F0F0;
    overflow: hidden;
}

.logo {
    width: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-box {
    margin-left: 250px;
    text-align: left;
    background-color: white;
}

    .footer-box > hr {
        margin: 0px;
        padding-top: 20px;
    }

    .footer-box > footer > p {
        padding-left: 10px;
        margin: 0;
        padding-bottom: 10px;
    }

.user-button {
    height: 30px;
    width: 73px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 24px;
}

.menu-box {
    display: flex;
}

.head-box {
    height: 100%;
    width: 250px;
    background-color: #2a2d33;
}

.login-box {
    height: 70px;
    background-color: #1d1f24;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-box {
    height: 70px;
    background-color: #1d1f24;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-box-image {
    width: 45px;
    border-radius: 50%;
    margin-left: 20px;
}

.header-box-name {
    color: white;
    margin-left: 20px;
}

.header-menu-ul {
    list-style: none;
    padding-left: 0;
    margin-left: 20px;
}

.header-menu-ul-li {
    color: white;
    padding-left: 16px;
    color: white;
    height: 38px;
    width: 210px;
    line-height: 38px;
    margin-top: 2px;
}

.header-menu-ul-li-active {
    border-radius: 30px;
    background-color: #f76120;
    border: 1px solid #f76120;
}

.header-menu-ul li:hover {
    border-radius: 30px;
    background-color: #f76120;
    border: 1px solid #f76120;
}

.header-menu-ul-li a {
    display: block;
    color: #bbb;
}

    .header-menu-ul-li a:hover {
        text-decoration: none;
        color: white;
    }


.navbar-default .mynavmenu > .active > a, .navbar-default .mynavmenu > .active > a:hover, .navbar-default .mynavmenu > .active > a:focus {
    background-color: #0f69e7;
    color: white;
}
.navbar-default .mynavmenu > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default .mynavmenu > li > a:hover {
    background-color: #0f69e7;
    color: white;
    font-weight: bold;
}

#userlogo{
    color:white;
}